/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* DEBUG */
.black-border {
    border: 1px dashed black;
}

/* HEADER */

header {
    height: 80px;
    padding-top: 20px;
    display: flex;
    justify-content: center;

    /* DEBUG */
    background-color: #add8e6;
}

.section {
    height: 400px;
}

.logo {
    padding-left: 10px;
    flex-grow: 1;  
}

.header-container {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;

     /* DEBUG */
     background-color: #daa520;
     height: 40PX;
     width: 60%;
}

.navigation-menu li {
    padding: 10px;
    list-style-type: none;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.button {
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
}
   
/* MAIN */

/* First section */
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: #00008b;
}

.fucsia-container {
    background-color: #ee82ee;
    width: 800px;
    height: 300px;
}

/* Second section */
.second {
    display: flex;
    justify-content: center;
    align-items: center;

}
.azure-container {
    background-color:#1e90ff ;
    width: 600px;
    height: 300px;
}

.pink-container {
    background-color: #ffc0cb;
    width: 300px;
    height: 300px;

}


/* FOOTER */