/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* DEBUG */
.black-border {
    border: 1px dashed black;
}

.white-border {
    border: 1px dashed white;
}

/* UTILITYS */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header {
    height: 80px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
    /* DEBUG */
    background-color: #add8e6;
}

.logo {
    padding-left: 10px;
    flex-grow: 1;  
}

.header-container {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;

     /* DEBUG */
     background-color: #daa520;
     height: 40px;
     width: 900px;
}

.navigation-menu li {
    padding: 10px;
    list-style-type: none;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.login {
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
}
   
/* MAIN */
.hight-section{
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* DEBUG */
    height: 700px;
}

.section {
     /* DEBUG */
     height: 400px;
}

/* First section */
.first {
    /* DEBUG */
    background-color: #00008b;
}

.fucsia-container {
    /* DEBUG */
    background-color: #ee82ee;
    width: 700px;
    height: 300px;
}

/* Second section */
.azure-container {
    /* DEBUG */
    background-color:#1e90ff ;
    width: 600px;
    height: 300px;
}

.pink-container {
    /* DEBUG */
    background-color: #ffc0cb;
    width: 300px;
    height: 300px;
}

/* Third section */
.third {
    /* DEBUG */
    background-color: #d3d3d3;    
}

/* Fifth section */
.fifth {
    /* DEBUG */
    background-color: #d3d3d3;
}

.green-container {
    /* DEBUG */
    background-color: #228b22;
    width: 900px;
    height: 600px;
}

/* Sixth section */

.sixth {
    /* DEBUG */
    background-color: #23272a;
    border-bottom: 3px solid #d3d3d3;
}

.salmon {
    /* DEBUG */
    background-color: #f08080;
    width: 300px;
    height: 350px;
}

.acqua-green {
    /* DEBUG */
    background-color: #20b2aa;
    width: 150px;
    height: 350px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* DEBUG */
    background-color: #23272a;
    height: 100px;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* DEBUG */
    height: 80px;
    width: 900px;
    background-color: #7fffd4;
}

.btn {
    /* DEBUG */
    text-align: center;
    line-height: 40px;
    background-color: #ffb6c1;
    height: 40px;
    width: 60px;
}