/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* DEBUG */
.black-border {
    border: 1px dashed black;
}

/* HEADER */

header {
    height: 80px;
    padding-top: 20px;
    padding-left: 400px;

    /* DEBUG */
    background-color: #add8e6;
}

.logo {
    padding-left: 10px;
    flex-grow: 1;  
}

.header-container {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;

     /* DEBUG */
     background-color: #daa520;
     height: 40PX;
     width: 70%;
}

.navigation-menu li{
    padding: 10px;
    list-style-type: none;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.button{
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
}
   

/* MAIN */

/* FOOTER */